[init]
	defaultBranch = main
[user]
	email = amahran@users.noreply.github.com
	name = amahran
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[color]
	ui = auto
