* {
  font-family: "FiraMono Nerd Font";
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  border: none;
  color: #aaa;
}

#workspaces button.active {
  background-color: #444;
  color: #fff;
}

#cpu, #network, #memory, #battery, #clock {
  margin: 0 5px;
  padding: 0 6px;
}

